version: "3.7"
services:
  colab:
    environment: 
      - ENVIRONMENT=dev
      - HOST_URL=domain.com
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/colab
      - JWT_SECRET=averysecretsecret
      - MAILGUN_API_KEY=amailgunapi
      - EMAIL_DOMAIN=email.domain.com